ul.pagination {
    display: flex!important;
    justify-content: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: #333333;
    background-color: #f7cc64;
    border-color: #f6c858;
}

ul.pagination li a {
    color:#333333;
}

