html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f0e8c0;
    font-family: 'Open Sans', sans-serif;
}

h6 {
    font-weight: 600;
}

.js-cookie-consent {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0, 0.75);
    padding: 1rem;
    text-align: center;
}

.js-cookie-consent-agree {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bg-pgreen {
    background-color: #83d6aa
}

.w-48 {
    min-width: 48%;
    max-width: 100%;
}

.page-header {
    width: 100%;
    margin: 10px 0px 0px;
    padding: 0px;
    color: white;
    font-family: 'Patrick Hand', cursive;
}

#search {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search-addon {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 2px;
}

.progress {
    position: relative;
    height: 32px;
}

.progress-bar {
    background-color: #83d6aa;
}

.progress-label {
    position: absolute;
    width: 100%;
    line-height: 32px;
    vertical-align: middle !important;
    text-align: center;
}

.btn-group a:link, .btn-group a:active, .btn-group a:hover, .btn-group a:visited {
    color: #636b6f!important;
}

.dropdown-item:active {
    background-color: #cccccc;
}

.logo-btn img {
    display: inline-block;
    max-width: 40px;
}

.input-group-text {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-light {
    background-color: rgba(0,0,0,.03);
    border-color: rgba(0,0,0,.03);
}

.btn-sm {
    border: solid rgba(255, 255, 255, .03) !important;;
    font-size: 85%;
}

a, a:hover, a:visited, a:link {
    text-decoration: none;
    color: white;
}

.btn-nook {
    color: #000000;
    background-color: #f7cc64;
    border-radius: 10px;
}

.btn-nook:hover {
    background-color: #f6c858;
}

.btn-nook-secondary {
    color: #000000;
    background-color: #f0e8c0;
    border-radius: 10px;
}

.btn-nook-secondary:hover {
    background-color: #e8e4b8;
}

.btn-info {
    border-radius: 5px;
}

.secondary-nav {
    position: relative;
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    text-align: left;
}

#content {
    text-align: center;
}

.col-md-6 {
    max-width: 550px;
}

.card-deck {
    justify-content: center;
    margin-left: -5px!important;
    margin-right: -5px!important;
}

.card {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.card, .card-img-top, .mat {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.card, .card-img-top, .mat, .badge, .btn-sm, .secondary-nav {
    border-radius: 15px !important;
}

.card a {
    text-decoration: none;
    color: black;
}

.ajaxSubmit, .ajaxSubmit:link, .ajaxSubmit:hover, .ajaxSubmit:focus, .ajaxSubmit:active, .ajaxSubmit:visited {
    font-size: 150%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
}

.fa-plus-circle {
    color: #f7cc64;
}

.fa-check-circle {
    color: green;
}

.mat img {
    max-width: 40px;
    min-width: 40px;
}

.mat-img {
    display: inline-block;
}

.mat-val {
    float: right;
}

.badge-nook {
    color: #ffffff;
    background-color: #83d6aa;
}

.social-btn {
    max-width: 40px;
    min-width: 40px;
    margin: 10px;
}

.badge {
    text-align: right;
    margin-top: .25rem;
    margin-right: .25rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
}

.foot-img {
    max-width: 30px;
    min-width: 30px;
}

#nav-extended-category, #nav-extended-tag, #nav-extended-source {
    display: none;
    border-radius: 15px;
    margin-top: .25rem;
    padding-top: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

.visible {
    display: block !important;
}
