html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-pgreen {
    background-color: #83d6aa
}

.w-48 {
    min-width: 48%;
    max-width: 100%;
}

.page-header h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Oxygen', sans-serif;
}

.input-group-text {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.foot-img {
    max-width: 38px;
    min-width: 38px;
}

.card {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.btn-light {
    background-color: rgba(0,0,0,.03);
    border-color: rgba(0,0,0,.03);
}

a, a:hover, a:visited, a:link {
    text-decoration: none;
    color: white;
}

.card a {
    text-decoration: none;
    color: black;
}

.mat img {
    max-width: 25%;
    min-width: 40px;
}

.mat-img {
    max-width: 40px;
    display: inline-block;
}

.social-btn {
    max-width: 40px;
    min-width: 40px;
    margin: 10px;
}

.mat-val {
    float: right;
}

.badge {
    text-align: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
}
